* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .2s linear;
}
/* .box-container {
    min-height: 100vh;
    background: url(../images/wood.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.box-container .box {
    width: 280px;
    height: 400px;
    border: 8px solid #fff;
    box-shadow: 0 5px 5px #000;
    overflow: hidden;
    margin: 20px 15px;
}
.box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}
.box-container .box:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}
.box-container .box .info {
    text-align: center;
    background-color: #fff;
    position: relative;
    bottom: 40px;
}
.box-container .box:hover .info {
    bottom: 128px;
}
.box-container .box .info .title {
    padding: 10px 0;
    font-size: 20px;
    color: #333;
    text-transform: capitalize;
}
.box-container .box .info .post {
    font-size: 15px;
    color: #999;
}
.box-container .box .info .share {
    margin-top: 10px;
    border-top: 1px solid #4444;
}
.box-container .box .info .share a {
    font-size: 20px;
    margin: 20px 10px;
    text-decoration: none;
    color: #333;
}
.box-container .box .info .share a:hover {
    color: #999;
} */
.box-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: url(../images/wood.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.box-container .box {
    width: 280px;
    height: 400px;
    border: 8px solid #fff;
    box-shadow: 0px 5px 5px #000;
    margin: 20px 15px;
    overflow: hidden;
}
.box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale();
}
.box-container .box:hover img {
    filter: grayscale(0%);
}
.box-container .box .info {
    background-color: #fff;
    position: relative;
    bottom: 40px;
    text-align: center;
}
.box-container .box:hover .info {
    bottom: 128px;
}
.box-container .box .info .title {
    color: #333;
    font-size: 20px;
    padding: 10px 0;
    text-transform: capitalize;
}
.box-container .box .info .post {
    color: #999;
    font-size: 15px;
}
.box-container .box .info .share {
    border-top: 1px solid #4444;
    margin-top: 10px;
}
.box-container .box .info .share a {
    font-size: 20px;
    text-decoration: none;
    margin: 20px 10px;
    color: #333;
}
.box-container .box .info .share a:hover {
    color: #999;
}